/* Estilo para el body */
body {
    background-image: url(./imagenes/baKC.png);
    /* Imagen de fondo */
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    height: 100vh;
    margin: 0px;
    padding: 0px;
    background-repeat: no-repeat;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Posición relativa */
.relative {
    position: relative;
}

/* Estilo para el contenedor principal */
#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0px;
    padding: 0px;
    width: 60vw;
    height: 60vh;
}

/* Estilo para el tablero */
#tablero {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(5, 1fr);
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 1;
    padding: 50px;
    box-sizing: border-box;
    padding-bottom: 0px;
    width: 100%;
    height: 100%;
}

/* Estilo para las celdas numeradas */
.number {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
    color: rgb(0, 2, 5);
    border: 5px solid #ff96ff;
}

/* Estilo para las celdas incorrectas */
.lost {
    background-color: red;
}

/* Estilo para la celda ganadora */
.Winner {
    background-color: green;
}

/* Estilo para la pantalla de fin de juego */
#end-screen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    z-index: 20;
    position: absolute;
}

/* Estilo para la pantalla de victoria */
#end-screen.win {
    background-image: url("./imagenes/Winner.gif");
}

/* Estilo para la pantalla de derrota */
#end-screen.lose {
    background-image: url("./imagenes/Loser.gif");
}

/* Estilo para el botón de reinicio en la pantalla de fin de juego */
#end-screen .btn {
    position: absolute;
    bottom: 20px;
}

/* Estilo general para los botones */
.btn {
    padding: 10px 20px;
    font-size: 15px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 10px;
    background-color: #ff96ff;
}

/* Estilo para la pantalla de inicio */
#start {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-image: url("./imagenes/Portada1.gif");
    background-position: center;
    background-size: cover;
    z-index: 20;
    position: absolute;
    background-color: #ff96ff;
}

#btnStart, #restart{
margin-bottom: 60px;
}

